* {
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
}

.switch-box {
    list-style: none;
    text-align: center;
}

.switch-item {
    display: inline-block;
    margin-right: 8px;
}

.switch-item:last-child {
    margin-right: 0;
}

.switch-link {
    display: block;
    width: 12px;
    height: 12px;
    background-color: $color-yellow;
    border: 1px solid transparent;
    border-radius: 50%;
    
}

.switch-link:focus {
    background-color: transparent;
    border-color: $color-yellow;

}